<a href="https://colab.research.google.com/github/AkhilVinayakp/HAR_LSTM_CNN/blob/main/CNN_Lstm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%cd /content/drive/My\ Drive/datasets 
%pwd

/content/drive/My Drive/datasets

'/content/drive/My Drive/datasets'

In [12]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [8]:

df =  pd.read_csv('inter_norm_mini.csv')

In [4]:
df.head()

   user    activity        timestamp  x-axis     y-axis    z-axis
0    14  Downstairs   57725432324000   17.97  19.500000 -4.400000
1     7    Upstairs  208866321473000    2.91   5.600000 -1.040000
2    29     Jogging                0    2.82   8.710000 -3.541290
3    15     Jogging                0   10.69   3.316667 -1.698003
4     8     Jogging  111020251899000   -1.54  -8.730000 -8.620000

In [5]:
df

     user    activity        timestamp  x-axis     y-axis    z-axis
0      14  Downstairs   57725432324000   17.97  19.500000 -4.400000
1       7    Upstairs  208866321473000    2.91   5.600000 -1.040000
2      29     Jogging                0    2.82   8.710000 -3.541290
3      15     Jogging                0   10.69   3.316667 -1.698003
4       8     Jogging  111020251899000   -1.54  -8.730000 -8.620000
..    ...         ...              ...     ...        ...       ...
105    23  Downstairs    1749732310000    4.79   9.530000 -0.110000
106    31  Downstairs   24512351662000   -1.38   8.120000  2.910000
107    14     Jogging   59899442333000   11.60  12.180000 -1.460000
108    19     Walking  129874801576000   14.10   5.670000 -0.230000
109     8     Walking  110576562080000    3.45   6.470000 -2.530000

[110 rows x 6 columns]

In [9]:
#droping the timestamp and user column for testing
df.drop('user', axis = 1, inplace=True)
df.drop('timestamp', axis = 1, inplace=True)

In [10]:
df

       activity  x-axis     y-axis    z-axis
0    Downstairs   17.97  19.500000 -4.400000
1      Upstairs    2.91   5.600000 -1.040000
2       Jogging    2.82   8.710000 -3.541290
3       Jogging   10.69   3.316667 -1.698003
4       Jogging   -1.54  -8.730000 -8.620000
..          ...     ...        ...       ...
105  Downstairs    4.79   9.530000 -0.110000
106  Downstairs   -1.38   8.120000  2.910000
107     Jogging   11.60  12.180000 -1.460000
108     Walking   14.10   5.670000 -0.230000
109     Walking    3.45   6.470000 -2.530000

[110 rows x 4 columns]

In [13]:
le = LabelEncoder()
df['activity'] = le.fit_transform(df['activity'])

In [14]:
df

     activity  x-axis     y-axis    z-axis
0           0   17.97  19.500000 -4.400000
1           4    2.91   5.600000 -1.040000
2           1    2.82   8.710000 -3.541290
3           1   10.69   3.316667 -1.698003
4           1   -1.54  -8.730000 -8.620000
..        ...     ...        ...       ...
105         0    4.79   9.530000 -0.110000
106         0   -1.38   8.120000  2.910000
107         1   11.60  12.180000 -1.460000
108         5   14.10   5.670000 -0.230000
109         5    3.45   6.470000 -2.530000

[110 rows x 4 columns]

In [16]:
# creating windowed dataset
# data windowing function test case passed
def create_windowed_dataset(series, window_size,shift_size, batch_size,shuffle_buffer):
  dataset = tf.data.Dataset.from_tensor_slices(series)
  dataset = dataset.window(window_size , shift = shift_size, drop_remainder = True)
  dataset = dataset.flat_map(lambda window: window.batch(window_size))
  dataset = dataset.shuffle(shuffle_buffer).map(lambda window: (window[:,1:],window[window_size - 1,0]))
  dataset = dataset.batch(batch_size).prefetch(1)
  return dataset
df_windowed = create_windowed_dataset(df, 20, 10, 1, 128)

In [34]:
# codding lstm layers and cnn
model = tf.keras.models.Sequential([
  tf.keras.layers.Lambda(lambda x: x,
                      input_shape=[20, 3]),
  tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32, return_sequences=True)),
  tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32, return_sequences=True)),
  tf.keras.layers.Lambda(lambda x: tf.expand_dims(x, axis=-1)),
  tf.keras.layers.Conv2D(64,5,strides=(2,2)),
  tf.keras.layers.MaxPooling2D((2, 2), strides = (2,2)),
  
  tf.keras.layers.Conv2D(128,3,strides=(1,1)),  
  # tf.keras.layers.Lambda(lambda x: tf.expand_dims(x, axis=-1)),
  tf.keras.layers.Dense(6, activation='softmax')
  
])

In [35]:
print(model.summary())

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lambda_15 (Lambda)           (None, 20, 3)             0
_________________________________________________________________
bidirectional_22 (Bidirectio (None, 20, 64)            9216
_________________________________________________________________
bidirectional_23 (Bidirectio (None, 20, 64)            24832
_________________________________________________________________
lambda_16 (Lambda)           (None, 20, 64, 1)         0
_________________________________________________________________
conv2d_14 (Conv2D)           (None, 8, 30, 64)         1664
_________________________________________________________________
max_pooling2d_9 (MaxPooling2 (None, 4, 15, 64)         0
_________________________________________________________________
conv2d_15 (Conv2D)           (None, 2, 13, 128)        73856
_________________________________________________________________
dense_11 (Dense)             (None, 2, 13, 6)          774
=================================================================
Total params: 110,342
Trainable params: 110,342
Non-trainable params: 0
_________________________________________________________________
None

In [37]:
optimizer = tf.keras.optimizers.SGD(lr=8e-6, momentum=0.9)
model.compile(loss="mse", optimizer=optimizer)

history = model.fit(df_windowed, epochs=100, verbose=1)

Epoch 1/100
10/10 [==============================] - 7s 20ms/step - loss: 11.8450
Epoch 2/100
10/10 [==============================] - 0s 19ms/step - loss: 11.7229
Epoch 3/100
10/10 [==============================] - 0s 18ms/step - loss: 12.1633
Epoch 4/100
10/10 [==============================] - 0s 19ms/step - loss: 7.6895
Epoch 5/100
10/10 [==============================] - 0s 19ms/step - loss: 12.8229
Epoch 6/100
10/10 [==============================] - 0s 18ms/step - loss: 13.1264
Epoch 7/100
10/10 [==============================] - 0s 20ms/step - loss: 10.1593
Epoch 8/100
10/10 [==============================] - 0s 19ms/step - loss: 6.0743
Epoch 9/100
10/10 [==============================] - 0s 19ms/step - loss: 8.9264
Epoch 10/100
10/10 [==============================] - 0s 21ms/step - loss: 9.8243
Epoch 11/100
10/10 [==============================] - 0s 20ms/step - loss: 12.4633
Epoch 12/100
10/10 [==============================] - 0s 18ms/step - loss: 9.9007
Epoch 13/100
10/10 [==============================] - 0s 19ms/step - loss: 9.1229
Epoch 14/100
10/10 [==============================] - 0s 20ms/step - loss: 8.8028
Epoch 15/100
10/10 [==============================] - 0s 20ms/step - loss: 15.5011
Epoch 16/100
10/10 [==============================] - 0s 18ms/step - loss: 9.9936
Epoch 17/100
10/10 [==============================] - 0s 18ms/step - loss: 11.7835
Epoch 18/100
10/10 [==============================] - 0s 19ms/step - loss: 14.0901
Epoch 19/100
10/10 [==============================] - 0s 20ms/step - loss: 9.7345
Epoch 20/100
10/10 [==============================] - 0s 18ms/step - loss: 9.4688
Epoch 21/100
10/10 [==============================] - 0s 23ms/step - loss: 5.8647
Epoch 22/100
10/10 [==============================] - 0s 19ms/step - loss: 8.2704
Epoch 23/100
10/10 [==============================] - 0s 19ms/step - loss: 8.9293
Epoch 24/100
10/10 [==============================] - 0s 20ms/step - loss: 13.0087
Epoch 25/100
10/10 [==============================] - 0s 19ms/step - loss: 11.9096
Epoch 26/100
10/10 [==============================] - 0s 18ms/step - loss: 6.5288
Epoch 27/100
10/10 [==============================] - 0s 19ms/step - loss: 6.9299
Epoch 28/100
10/10 [==============================] - 0s 19ms/step - loss: 11.1380
Epoch 29/100
10/10 [==============================] - 0s 18ms/step - loss: 8.3723
Epoch 30/100
10/10 [==============================] - 0s 19ms/step - loss: 10.0512
Epoch 31/100
10/10 [==============================] - 0s 18ms/step - loss: 8.6491
Epoch 32/100
10/10 [==============================] - 0s 18ms/step - loss: 13.9949
Epoch 33/100
10/10 [==============================] - 0s 21ms/step - loss: 9.2452
Epoch 34/100
10/10 [==============================] - 0s 18ms/step - loss: 9.8232
Epoch 35/100
10/10 [==============================] - 0s 18ms/step - loss: 9.8432
Epoch 36/100
10/10 [==============================] - 0s 19ms/step - loss: 8.2416
Epoch 37/100
10/10 [==============================] - 0s 19ms/step - loss: 11.7407
Epoch 38/100
10/10 [==============================] - 0s 20ms/step - loss: 10.1248
Epoch 39/100
10/10 [==============================] - 0s 18ms/step - loss: 9.0440
Epoch 40/100
10/10 [==============================] - 0s 19ms/step - loss: 9.4259
Epoch 41/100
10/10 [==============================] - 0s 18ms/step - loss: 4.6748
Epoch 42/100
10/10 [==============================] - 0s 19ms/step - loss: 15.7007
Epoch 43/100
10/10 [==============================] - 0s 20ms/step - loss: 10.1736
Epoch 44/100
10/10 [==============================] - 0s 20ms/step - loss: 11.3847
Epoch 45/100
10/10 [==============================] - 0s 19ms/step - loss: 8.8737
Epoch 46/100
10/10 [==============================] - 0s 20ms/step - loss: 8.1022
Epoch 47/100
10/10 [==============================] - 0s 19ms/step - loss: 5.2758
Epoch 48/100
10/10 [==============================] - 0s 19ms/step - loss: 8.2431
Epoch 49/100
10/10 [==============================] - 0s 26ms/step - loss: 12.1425
Epoch 50/100
10/10 [==============================] - 0s 23ms/step - loss: 12.2388
Epoch 51/100
10/10 [==============================] - 0s 21ms/step - loss: 12.3036
Epoch 52/100
10/10 [==============================] - 0s 19ms/step - loss: 8.3956
Epoch 53/100
10/10 [==============================] - 0s 19ms/step - loss: 9.9017
Epoch 54/100
10/10 [==============================] - 0s 19ms/step - loss: 8.0950
Epoch 55/100
10/10 [==============================] - 0s 19ms/step - loss: 10.9834
Epoch 56/100
10/10 [==============================] - 0s 20ms/step - loss: 14.0199
Epoch 57/100
10/10 [==============================] - 0s 18ms/step - loss: 13.9332
Epoch 58/100
10/10 [==============================] - 0s 18ms/step - loss: 7.6707
Epoch 59/100
10/10 [==============================] - 0s 19ms/step - loss: 7.8078
Epoch 60/100
10/10 [==============================] - 0s 18ms/step - loss: 11.1899
Epoch 61/100
10/10 [==============================] - 0s 20ms/step - loss: 9.9431
Epoch 62/100
10/10 [==============================] - 0s 19ms/step - loss: 7.9220
Epoch 63/100
10/10 [==============================] - 0s 19ms/step - loss: 13.4892
Epoch 64/100
10/10 [==============================] - 0s 19ms/step - loss: 10.5067
Epoch 65/100
10/10 [==============================] - 0s 19ms/step - loss: 10.6810
Epoch 66/100
10/10 [==============================] - 0s 19ms/step - loss: 11.1113
Epoch 67/100
10/10 [==============================] - 0s 19ms/step - loss: 8.0653
Epoch 68/100
10/10 [==============================] - 0s 19ms/step - loss: 14.7099
Epoch 69/100
10/10 [==============================] - 0s 20ms/step - loss: 7.2531
Epoch 70/100
10/10 [==============================] - 0s 20ms/step - loss: 14.8053
Epoch 71/100
10/10 [==============================] - 0s 18ms/step - loss: 7.4975
Epoch 72/100
10/10 [==============================] - 0s 18ms/step - loss: 10.1709
Epoch 73/100
10/10 [==============================] - 0s 18ms/step - loss: 12.1638
Epoch 74/100
10/10 [==============================] - 0s 18ms/step - loss: 8.2850
Epoch 75/100
10/10 [==============================] - 0s 20ms/step - loss: 8.9364
Epoch 76/100
10/10 [==============================] - 0s 18ms/step - loss: 8.7238
Epoch 77/100
10/10 [==============================] - 0s 20ms/step - loss: 8.1858
Epoch 78/100
10/10 [==============================] - 0s 19ms/step - loss: 10.1002
Epoch 79/100
10/10 [==============================] - 0s 19ms/step - loss: 8.2061
Epoch 80/100
10/10 [==============================] - 0s 21ms/step - loss: 10.2443
Epoch 81/100
10/10 [==============================] - 0s 19ms/step - loss: 12.7758
Epoch 82/100
10/10 [==============================] - 0s 19ms/step - loss: 8.3244
Epoch 83/100
10/10 [==============================] - 0s 20ms/step - loss: 9.3956
Epoch 84/100
10/10 [==============================] - 0s 19ms/step - loss: 12.6663
Epoch 85/100
10/10 [==============================] - 0s 20ms/step - loss: 13.5370
Epoch 86/100
10/10 [==============================] - 0s 23ms/step - loss: 7.6809
Epoch 87/100
10/10 [==============================] - 0s 20ms/step - loss: 14.5401
Epoch 88/100
10/10 [==============================] - 0s 20ms/step - loss: 8.4158
Epoch 89/100
10/10 [==============================] - 0s 23ms/step - loss: 8.4278
Epoch 90/100
10/10 [==============================] - 0s 21ms/step - loss: 8.4365
Epoch 91/100
10/10 [==============================] - 0s 19ms/step - loss: 8.1189
Epoch 92/100
10/10 [==============================] - 0s 19ms/step - loss: 14.6880
Epoch 93/100
10/10 [==============================] - 0s 19ms/step - loss: 9.4955
Epoch 94/100
10/10 [==============================] - 0s 20ms/step - loss: 6.4057
Epoch 95/100
10/10 [==============================] - 0s 20ms/step - loss: 5.7486
Epoch 96/100
10/10 [==============================] - 0s 19ms/step - loss: 9.4225
Epoch 97/100
10/10 [==============================] - 0s 20ms/step - loss: 11.0622
Epoch 98/100
10/10 [==============================] - 0s 21ms/step - loss: 15.3435
Epoch 99/100
10/10 [==============================] - 0s 19ms/step - loss: 10.4040
Epoch 100/100
10/10 [==============================] - 0s 19ms/step - loss: 12.3885