In [1]:
# 21 March 2021
# refer test file 
# data preprocessing 

# input
# wisdm_cln.csv

# saved csv files



# 


'''
1.interpolating the missing data
    > finding all the rows that containing all zero values 
    > replacing with NaN
    > interpolating each axis

2. Data Normalization

3.output file exported
'''

'\n1.interpolating the missing data\n    > finding all the rows that containing all zero values \n    > replacing with NaN\n    > interpolating each axis\n\n2. \n'

In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
cur = os.getcwd()
path = os.path.join(os.getcwd(),"data","wisdm_cln.csv")
df = pd.read_csv(path)

In [4]:
df

         user activity        timestamp    x-axis     y-axis    z-axis
0          33  Jogging   49105962326000 -0.694638  12.680544  0.503953
1          33  Jogging   49106062271000  5.012288  11.264028  0.953424
2          33  Jogging   49106112167000  4.903325  10.882658 -0.081722
3          33  Jogging   49106222305000 -0.612916  18.496431  3.023717
4          33  Jogging   49106332290000 -1.184970  12.108489  7.205164
...       ...      ...              ...       ...        ...       ...
1098199    19  Sitting  131623331483000  9.000000  -1.570000  1.690000
1098200    19  Sitting  131623371431000  9.040000  -1.460000  1.730000
1098201    19  Sitting  131623411592000  9.080000  -1.380000  1.690000
1098202    19  Sitting  131623491487000  9.000000  -1.460000  1.730000
1098203    19  Sitting  131623531465000  8.880000  -1.330000  1.610000

[1098204 rows x 6 columns]

In [5]:
def checknan(df):
    for i in df.columns:
        if df[i].isnull().values.any():
            print(f" the column {i} contains nulll values")

In [6]:
checknan(df)

 the column z-axis contains nulll values

In [7]:
features = df[['x-axis','y-axis','z-axis']]

In [9]:
features

           x-axis     y-axis    z-axis
0       -0.694638  12.680544  0.503953
1        5.012288  11.264028  0.953424
2        4.903325  10.882658 -0.081722
3       -0.612916  18.496431  3.023717
4       -1.184970  12.108489  7.205164
...           ...        ...       ...
1098199  9.000000  -1.570000  1.690000
1098200  9.040000  -1.460000  1.730000
1098201  9.080000  -1.380000  1.690000
1098202  9.000000  -1.460000  1.730000
1098203  8.880000  -1.330000  1.610000

[1098204 rows x 3 columns]

In [10]:
def replace_0_nan(features):
    '''Input is features arrays'''
#     extracting the index of the df that rows contais all 0 values
    qwe= features[(features['x-axis'] == features['y-axis'])][features['x-axis'] == features['z-axis']][features['x-axis'] == 0]
#     extracting the index of rows in qwe
    index_arr = list(qwe.index)
    for i in index_arr:
        features.iloc[i,:] = np.nan

In [11]:
replace_0_nan(features)

<ipython-input-10-66f0bee76eca>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  qwe= features[(features['x-axis'] == features['y-axis'])][features['x-axis'] == features['z-axis']][features['x-axis'] == 0]
C:\Users\HP\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-10-66f0bee76eca>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features.iloc[i,:] = np.nan

In [12]:
checknan(features)

 the column x-axis contains nulll values
 the column y-axis contains nulll values
 the column z-axis contains nulll values

In [13]:
features['x-axis'].interpolate(method = 'linear', inplace=True)
features['y-axis'].interpolate(method = 'linear', inplace=True)
features['z-axis'].interpolate(method = 'linear', inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\generic.py:7023: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [14]:
checknan(features)

In [15]:
# interpolation ok

In [16]:
# applyting the normalization
from sklearn.preprocessing import normalize

In [17]:
normalize(features, copy=False)

array([[-0.05465478,  0.9977177 ,  0.03965151],
       [ 0.4053382 ,  0.91090953,  0.07710237],
       [ 0.41078201,  0.91170789, -0.00684637],
       ...,
       [ 0.9723227 , -0.14777592,  0.18097196],
       [ 0.96979324, -0.15732201,  0.18641581],
       [ 0.97344432, -0.1457974 ,  0.17649159]])

In [18]:
features

           x-axis    y-axis    z-axis
0       -0.054655  0.997718  0.039652
1        0.405338  0.910910  0.077102
2        0.410782  0.911708 -0.006846
3       -0.032685  0.986373  0.161248
4       -0.083804  0.856341  0.509566
...           ...       ...       ...
1098199  0.968689 -0.168982  0.181898
1098200  0.970048 -0.156667  0.185640
1098201  0.972323 -0.147776  0.180972
1098202  0.969793 -0.157322  0.186416
1098203  0.973444 -0.145797  0.176492

[1098204 rows x 3 columns]

Replacing the axis values with features values to the original dataframe df

In [20]:
df['x-axis'] = features['x-axis']
df['y-axis'] = features['y-axis']
df['z-axis'] = features['z-axis']

In [21]:
# saving the created data frame as inter_norm.csv
df.to_csv('data/int_norm.csv', index =False)

In [22]:
# extracting a small frame for window testing
from sklearn.model_selection import train_test_split
col = df['activity']
x, y = train_test_split(df, test_size = .0001, random_state = 32, stratify  = col)
y.to_csv('data/inter_norm_mini.csv', index = False)