In [20]:
# File contains code for normalizing the values in the data
# interpolated values are loaded for normalization
# the final output stored in data/int_norm.csv
# for tesing purpose a fraction of data extracted and normalized in data/int_norm_mini.csv file
# NO 3

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import normalize

In [3]:
df = pd.read_csv("data/inter.csv")

In [6]:
def checknan():
    for i in df.columns:
        if df[i].isnull().values.any():
            print(f" the column {i} contains nulll values")
        print("op completed")

In [7]:
checknan()

op completed
op completed
op completed
op completed
op completed

In [8]:
df.head()

   user activity    x-axis     y-axis    z-axis
0    33  Jogging -0.694638  12.680544  0.503953
1    33  Jogging  5.012288  11.264028  0.953424
2    33  Jogging  4.903325  10.882658 -0.081722
3    33  Jogging -0.612916  18.496431  3.023717
4    33  Jogging -1.184970  12.108489  7.205164

In [9]:
# splting the dataset for normalization
features = df[['x-axis','y-axis','z-axis']]

In [11]:
features.head()

     x-axis     y-axis    z-axis
0 -0.694638  12.680544  0.503953
1  5.012288  11.264028  0.953424
2  4.903325  10.882658 -0.081722
3 -0.612916  18.496431  3.023717
4 -1.184970  12.108489  7.205164

In [12]:
# applyinig normalization
normalize(features, copy=False)

array([[-0.05465478,  0.9977177 ,  0.03965151],
       [ 0.4053382 ,  0.91090953,  0.07710237],
       [ 0.41078201,  0.91170789, -0.00684637],
       ...,
       [ 0.9723227 , -0.14777592,  0.18097196],
       [ 0.96979324, -0.15732201,  0.18641581],
       [ 0.97344432, -0.1457974 ,  0.17649159]])

In [13]:
features.head()

     x-axis    y-axis    z-axis
0 -0.054655  0.997718  0.039652
1  0.405338  0.910910  0.077102
2  0.410782  0.911708 -0.006846
3 -0.032685  0.986373  0.161248
4 -0.083804  0.856341  0.509566

In [14]:
df[['x-axis','y-axis','z-axis']] = features

In [15]:
df

         user activity    x-axis    y-axis    z-axis
0          33  Jogging -0.054655  0.997718  0.039652
1          33  Jogging  0.405338  0.910910  0.077102
2          33  Jogging  0.410782  0.911708 -0.006846
3          33  Jogging -0.032685  0.986373  0.161248
4          33  Jogging -0.083804  0.856341  0.509566
...       ...      ...       ...       ...       ...
1098199    19  Sitting  0.968689 -0.168982  0.181898
1098200    19  Sitting  0.970048 -0.156667  0.185640
1098201    19  Sitting  0.972323 -0.147776  0.180972
1098202    19  Sitting  0.969793 -0.157322  0.186416
1098203    19  Sitting  0.973444 -0.145797  0.176492

[1098204 rows x 5 columns]

In [18]:
# saving the interpolated normalized values into new csv file
df.to_csv('data/int_norm.csv', index =False)

In [19]:
# extracting a small portion of data for code compatibilty checking
from sklearn.model_selection import train_test_split

In [21]:
col = df['activity']

In [22]:
x, y = train_test_split(df, test_size = .0001, random_state = 32, stratify  = col)

In [23]:
print(x.shape)
print(y.shape)

(1098094, 5)
(110, 5)

In [24]:
# saving the mini in data/inter_norm_mini.csv
y.to_csv('data/inter_norm_mini.csv')