<a href="https://colab.research.google.com/github/AkhilVinayakp/HAR_LSTM_CNN/blob/main/lstm_cnn_mj_al.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# lstm_cnn_model with wisdm int_norm.csv
# testing no. 1

In [1]:
%cd /content/drive/My\ Drive/datasets 
%pwd

/content/drive/My Drive/datasets

'/content/drive/My Drive/datasets'

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.utils import to_categorical

In [3]:

df =  pd.read_csv('int_norm.csv')

In [4]:
df.shape

(1098204, 6)

In [5]:
# creating windowed dataset
# data windowing function test case passed
def create_windowed_dataset(series, window_size,shift_size, batch_size,shuffle_buffer):
  dataset = tf.data.Dataset.from_tensor_slices(series)
  dataset = dataset.window(window_size , shift = shift_size, drop_remainder = True)
  dataset = dataset.flat_map(lambda window: window.batch(window_size))
  dataset = dataset.shuffle(shuffle_buffer).map(lambda window: (window[:,1:],window[window_size - 1,0]))
  dataset = dataset.batch(batch_size).prefetch(1)
  return dataset

In [6]:
df.head()

   user activity       timestamp    x-axis    y-axis    z-axis
0    33  Jogging  49105962326000 -0.054655  0.997718  0.039652
1    33  Jogging  49106062271000  0.405338  0.910910  0.077102
2    33  Jogging  49106112167000  0.410782  0.911708 -0.006846
3    33  Jogging  49106222305000 -0.032685  0.986373  0.161248
4    33  Jogging  49106332290000 -0.083804  0.856341  0.509566

In [7]:
df.drop('timestamp', axis = 1, inplace=True)

In [8]:
train = df[df['user'] < 31 ]

In [9]:
test = df[df['user'] > 30]

In [10]:
print(train.shape)
print(test.shape)

(898361, 5)
(199843, 5)

In [11]:
train.head()

      user activity    x-axis    y-axis    z-axis
8489    17  Walking  0.058149  0.996847 -0.053996
8490    17  Walking -0.000000  0.998427 -0.056061
8491    17  Walking -0.023448  0.997247 -0.070345
8492    17  Walking  0.014845  0.998642 -0.049932
8493    17  Walking  0.014737  0.998072 -0.060286

In [12]:
train.drop('user', axis = 1, inplace=True)
test.drop('user', axis = 1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
train.reset_index(drop = True, inplace = True)

In [14]:
train.head()

  activity    x-axis    y-axis    z-axis
0  Walking  0.058149  0.996847 -0.053996
1  Walking -0.000000  0.998427 -0.056061
2  Walking -0.023448  0.997247 -0.070345
3  Walking  0.014845  0.998642 -0.049932
4  Walking  0.014737  0.998072 -0.060286

In [15]:
train.reset_index(drop = True, inplace = True)
train.head()

  activity    x-axis    y-axis    z-axis
0  Walking  0.058149  0.996847 -0.053996
1  Walking -0.000000  0.998427 -0.056061
2  Walking -0.023448  0.997247 -0.070345
3  Walking  0.014845  0.998642 -0.049932
4  Walking  0.014737  0.998072 -0.060286