<a href="https://colab.research.google.com/github/AkhilVinayakp/HAR_LSTM_CNN/blob/main/pre_process_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Data preprocessing version 3
changes 
1.data interpolation
all the zero values appear in the dataset are replaced by the NaN 
thos values are interpolated
2. X- X_min
  _____________
  x_max - x_min

  normalization 

3. data in  : wisdm_cln
4. data out : int_norm_2.csv
   mini set : int_norm_2_mini.csv

"""

'\nData preprocessing version 3\nchanges \n1.data interpolation\nall the zero values appear in the dataset are replaced by the NaN \nthos values are interpolated\n2. X- X_min\n  _____________\n  x_max - x_min\n\n  normalization \n\n3. data in  : wisdm_cln\n4. data out : int_norm_2.csv\n   mini set : int_norm_2_mini.csv\n\n'

In [2]:
import pandas as pd
import os
import numpy as np

In [4]:
%cd /content/drive/My\ Drive/datasets 
%pwd

/content/drive/My Drive/datasets

'/content/drive/My Drive/datasets'

In [6]:

df = pd.read_csv('wisdm_cln.csv')

In [7]:
df.shape

(1098204, 6)

In [8]:
df.head()

   user activity       timestamp    x-axis     y-axis    z-axis
0    33  Jogging  49105962326000 -0.694638  12.680544  0.503953
1    33  Jogging  49106062271000  5.012288  11.264028  0.953424
2    33  Jogging  49106112167000  4.903325  10.882658 -0.081722
3    33  Jogging  49106222305000 -0.612916  18.496431  3.023717
4    33  Jogging  49106332290000 -1.184970  12.108489  7.205164

In [9]:
def checknan(df):
    for i in df.columns:
        if df[i].isnull().values.any():
            print(f" the column {i} contains nulll values")

In [10]:
checknan(df)

 the column z-axis contains nulll values

In [11]:
features = df[['x-axis','y-axis','z-axis']]

In [12]:
checknan(features)

 the column z-axis contains nulll values

In [15]:
features['x-axis'] = features['x-axis'].replace(0, np.nan)
features['y-axis'] = features['y-axis'].replace(0, np.nan)
features['z-axis'] = features['z-axis'].replace(0, np.nan)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
checknan(features)

 the column x-axis contains nulll values
 the column y-axis contains nulll values
 the column z-axis contains nulll values

In [17]:
# now interpolating each values

In [21]:
features['x-axis'].interpolate(method = 'linear', inplace=True)
features['y-axis'].interpolate(method = 'linear', inplace=True)
features['z-axis'].interpolate(method = 'linear', inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
checknan(features)

In [24]:
# applying normalization
def norm(Series):
  inp = Series.values
  min = np.min(inp)
  max = np.max(inp)
  t = (inp - min)/(max - min)
  return t

In [26]:
for fet in features.columns:
  inp = features[fet].values
  min = np.min(inp)
  max = np.max(inp)
  d = max - min
  t = (inp - min) / d
  features[fet] = t

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [27]:
features.head()

     x-axis    y-axis    z-axis
0  0.478144  0.814390  0.515198
1  0.622404  0.778664  0.526603
2  0.619649  0.769046  0.500337
3  0.480209  0.961070  0.579135
4  0.465749  0.799962  0.685236

In [30]:
# data preprocessing done saving the created file
df['x-axis'] = features['x-axis']
df['y-axis'] = features['y-axis']
df['z-axis'] = features['z-axis']

In [31]:
df.head()

   user activity       timestamp    x-axis    y-axis    z-axis
0    33  Jogging  49105962326000  0.478144  0.814390  0.515198
1    33  Jogging  49106062271000  0.622404  0.778664  0.526603
2    33  Jogging  49106112167000  0.619649  0.769046  0.500337
3    33  Jogging  49106222305000  0.480209  0.961070  0.579135
4    33  Jogging  49106332290000  0.465749  0.799962  0.685236

In [32]:
df.to_csv('int_norm_2.csv', index = False)