In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('data/inter.csv')

In [9]:
col = df['activity']

In [15]:
x, y = train_test_split(df, test_size = .0001, random_state = 32, stratify  = col)

In [16]:
print(x.shape)
print(y.shape)

(1098094, 5)
(110, 5)

In [17]:
y.head()

         user    activity  x-axis  y-axis  z-axis
558136     14  Downstairs   17.97   19.50   -4.40
1044362     7    Upstairs    2.91    5.60   -1.04
89089      29     Jogging    0.00    0.00    0.00
137597     15     Jogging    0.00    0.00    0.00
762308      8     Jogging   -1.54   -8.73   -8.62

In [18]:
y.reset_index()

       index  user    activity  x-axis  y-axis  z-axis
0     558136    14  Downstairs   17.97   19.50   -4.40
1    1044362     7    Upstairs    2.91    5.60   -1.04
2      89089    29     Jogging    0.00    0.00    0.00
3     137597    15     Jogging    0.00    0.00    0.00
4     762308     8     Jogging   -1.54   -8.73   -8.62
..       ...   ...         ...     ...     ...     ...
105   669291    23  Downstairs    4.79    9.53   -0.11
106   822185    31  Downstairs   -1.38    8.12    2.91
107   523606    14     Jogging   11.60   12.18   -1.46
108  1057521    19     Walking   14.10    5.67   -0.23
109   758145     8     Walking    3.45    6.47   -2.53

[110 rows x 6 columns]

In [22]:
y.to_csv('data/mini.csv', index = False)