In [4]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/My\ Drive/datasets 
%pwd

/content/drive/My Drive/datasets

'/content/drive/My Drive/datasets'

In [5]:
df =  pd.read_csv('mini.csv')

In [6]:
df.head()

   user    activity  x-axis  y-axis  z-axis
0    14  Downstairs   17.97   19.50   -4.40
1     7    Upstairs    2.91    5.60   -1.04
2    29     Jogging    0.00    0.00    0.00
3    15     Jogging    0.00    0.00    0.00
4     8     Jogging   -1.54   -8.73   -8.62

In [9]:
series = df.values

In [10]:
series.shape

(110, 5)

In [47]:
series

array([[14, 'Downstairs', 17.97, 19.5, -4.4],
       [7, 'Upstairs', 2.91, 5.6, -1.04],
       [29, 'Jogging', 0.0, 0.0, 0.0],
       [15, 'Jogging', 0.0, 0.0, 0.0],
       [8, 'Jogging', -1.54, -8.73, -8.62],
       [19, 'Jogging', -6.24, -4.29, 4.99],
       [18, 'Sitting', 5.43, 1.76, 8.39],
       [30, 'Upstairs', 9.72, 1.14, 0.34],
       [28, 'Walking', 2.72, 7.35, 3.2552630000000002],
       [35, 'Walking', 1.14, 9.7, 2.8738932999999998],
       [19, 'Walking', -2.45, 6.36, -0.5],
       [20, 'Jogging', 0.0, 0.0, 0.0],
       [1, 'Jogging', 14.82, 1.14, 5.52],
       [10, 'Upstairs', -5.28, 18.47, 5.94],
       [32, 'Jogging', 0.0, 0.0, 0.0],
       [33, 'Jogging', 5.625203599999999, 9.084772, 6.633109599999999],
       [26, 'Walking', 13.59, 3.64, -2.56],
       [26, 'Jogging', 9.38, -0.99, -6.05],
       [22, 'Walking', -0.69, 15.89, 0.72],
       [14, 'Downstairs', -3.3, 15.43, -3.26],
       [19, 'Upstairs', -12.72, 8.62, 1.84],
       [6, 'Downstairs', 9.15, 12.22, -0.61291564],
       [1, 'Jogging', -3.17, -3.06, -3.3],
       [14, 'Jogging', 6.66, -3.72, -0.61],
       [7, 'Sitting', -5.56, -3.45, 7.35],
       [25, 'Walking', 3.53, 5.43, -2.37],
       [20, 'Walking', -5.63, 10.31, -3.6366330000000002],
       [6, 'Walking', 4.75, 6.51, -1.8387468999999996],
       [7, 'Walking', 5.33, 6.36, -1.69],
       [7, 'Upstairs', 8.39, 5.22, -0.84],
       [33, 'Walking', -1.46, 9.96, 2.070293],
       [17, 'Walking', 1.08, 4.94, 1.23],
       [36, 'Downstairs', -0.11, 8.73, 1.334794],
       [26, 'Walking', 4.86, 9.19, -3.79],
       [21, 'Walking', 1.14, 7.06, 1.61],
       [7, 'Jogging', -19.08, 19.72, 3.41],
       [32, 'Upstairs', -0.04, 9.34, -1.1441092],
       [14, 'Walking', -3.95, 11.03, 3.6],
       [6, 'Jogging', 16.86, 0.34, -4.2086873],
       [14, 'Jogging', 4.86, 2.41, 1.69],
       [20, 'Walking', 8.62, 8.62, -1.2666923],
       [26, 'Jogging', -0.3, 1.92, -1.57],
       [29, 'Walking', 6.13, 5.18, 1.607201],
       [36, 'Walking', -0.08, 3.79, 2.152015],
       [32, 'Walking', -3.17, -1.84, -4.440233],
       [32, 'Walking', -6.51, 12.07, -3.0237172],
       [18, 'Jogging', -3.34, 5.37, -1.3075534],
       [22, 'Downstairs', -1.12, 18.35, -5.56],
       [16, 'Sitting', 5.52, 2.49, 8.2],
       [35, 'Jogging', 1.8, -2.68, -2.4925237],
       [34, 'Walking', -0.61, 0.72, -2.6],
       [15, 'Jogging', 12.3, 19.42, -0.61291564],
       [20, 'Sitting', -4.29, 3.99, 8.05],
       [36, 'Standing', -0.53, 9.43, 3.0645783],
       [28, 'Standing', 1.42, 9.96, 1.1441092],
       [26, 'Walking', 6.21, 11.22, 11.22],
       [29, 'Downstairs', -5.63, 7.67, 1.4165162],
       [15, 'Walking', -1.08, 6.59, 7.164303],
       [36, 'Jogging', 4.14, -3.26, -3.4050870000000004],
       [8, 'Jogging', 19.7, 12.68, -2.98],
       [8, 'Walking', 3.72, 10.46, -0.42],
       [27, 'Walking', 1.18, 5.24, -1.607201],
       [13, 'Walking', 1.18, 12.83, 5.325556],
       [11, 'Jogging', -1.33, 2.26, 1.69],
       [20, 'Sitting', -0.42, 5.05, 9.28],
       [26, 'Jogging', -5.94, 9.28, 0.8],
       [14, 'Upstairs', 12.72, 9.47, 6.44],
       [31, 'Jogging', -2.87, 3.95, 0.57],
       [15, 'Walking', 3.79, 7.5, -1.7297841],
       [18, 'Walking', 6.78, 10.76, -0.50395286],
       [36, 'Walking', -1.5, 5.6, 0.7627395],
       [15, 'Upstairs', -3.17, 5.9, 1.0760075],
       [9, 'Walking', 13.76, 2.98, 1.57],
       [9, 'Walking', 2.53, 16.02, 1.04],
       [17, 'Jogging', 1.7570249, 11.413852, 4.2086873],
       [12, 'Jogging', 9.49, 11.11, -3.79],
       [8, 'Walking', 3.68, 6.28, 0.19],
       [28, 'Walking', 3.76, 13.25, 2.5333846],
       [20, 'Upstairs', 4.06, 12.83, 8.349273],
       [32, 'Walking', -3.98, 0.65, -4.0180025000000015],
       [10, 'Downstairs', -6.09, 15.66, -0.84],
       [3, 'Downstairs', -8.73, 3.95, 5.18],
       [32, 'Walking', 7.59, 10.19, 3.5957718],
       [29, 'Jogging', 0.31, 0.99, 0.42223078],
       [20, 'Walking', 2.96, 14.25, -1.7978859],
       [12, 'Jogging', 8.08, 18.92, -4.75],
       [18, 'Walking', 2.64, 7.74, 0.8036005],
       [19, 'Walking', -14.29, 15.02, 8.92],
       [1, 'Jogging', -14.14, -9.49, -5.24],
       [19, 'Jogging', -6.55, -2.56, 0.89],
       [8, 'Upstairs', 4.48, 13.63, 2.6],
       [19, 'Standing', -5.18, 8.08, -1.42],
       [12, 'Jogging', 0.34, 1.04, 3.02],
       [24, 'Jogging', -19.04, 5.05, 4.02],
       [16, 'Walking', 6.51, 4.1, -3.4459480000000005],
       [20, 'Upstairs', 0.8, 2.83, 2.2609777],
       [33, 'Sitting', 5.9, 2.49, 7.78],
       [27, 'Walking', 7.74, 6.36, 3.4868089999999996],
       [8, 'Walking', 10.61, 8.01, -1.27],
       [5, 'Upstairs', 2.64, 13.21, 0.7627395],
       [7, 'Jogging', -15.28, 15.98, -14.48],
       [19, 'Standing', -5.6, 7.82, -1.23],
       [3, 'Jogging', -17.69, 5.48, 8.47],
       [27, 'Standing', 0.93, 10.0, -1.2258313],
       [30, 'Walking', -4.52, 11.11, -13.53],
       [23, 'Downstairs', 4.79, 9.53, -0.11],
       [31, 'Downstairs', -1.38, 8.12, 2.91],
       [14, 'Jogging', 11.6, 12.18, -1.46],
       [19, 'Walking', 14.1, 5.67, -0.23],
       [8, 'Walking', 3.45, 6.47, -2.53]], dtype=object)

In [31]:
sr = np.arange(0,50)
sr = sr.reshape(10,5)

In [32]:
sr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

In [7]:
def windowed_dataset(series, window_size,shift_size, batch_size,shuffle_buffer):
  dataset = tf.data.Dataset.from_tensor_slices(series)
  dataset = dataset.window(window_size +1, shift = shift_size, drop_remainder = True)
  dataset = dataset.flat_map(lambda window: window.batch(window_size+1))
  dataset = dataset.shuffle(shuffle_buffer).map(lambda window :  (window[:-1], window[-1]))
  dataset = dataset.batch(batch_size).prefetch(1)
  return dataset

In [18]:
# the data often load as batches
# batches can be created by using batch() method
dataset = tf.data.Dataset.range(50)
dataset = dataset.window(6,shift=3, drop_remainder=True)
dataset = dataset.flat_map(lambda window : window.batch(6))
dataset =  dataset.map(lambda window: (window[:-1],window[-1:]))
# shuffling the values
# dataset = dataset.shuffle(buffer_size=40)
# creating the batches
# dataset = dataset.batch(2).prefetch(1) # the value of prefetch ?
# printing out the data
for x, y in dataset:
  print("x = ", x.numpy())
  print("y = ", y.numpy())

x =  [0 1 2 3 4]
y =  [5]
x =  [3 4 5 6 7]
y =  [8]
x =  [ 6  7  8  9 10]
y =  [11]
x =  [ 9 10 11 12 13]
y =  [14]
x =  [12 13 14 15 16]
y =  [17]
x =  [15 16 17 18 19]
y =  [20]
x =  [18 19 20 21 22]
y =  [23]
x =  [21 22 23 24 25]
y =  [26]
x =  [24 25 26 27 28]
y =  [29]
x =  [27 28 29 30 31]
y =  [32]
x =  [30 31 32 33 34]
y =  [35]
x =  [33 34 35 36 37]
y =  [38]
x =  [36 37 38 39 40]
y =  [41]
x =  [39 40 41 42 43]
y =  [44]
x =  [42 43 44 45 46]
y =  [47]

In [34]:
dataset = tf.data.Dataset.from_tensor_slices(sr)
dataset = dataset.window(4,2, drop_remainder= True)
for window_data in dataset:
  for val in window_data:
    print(val.numpy())
  print()

[0 1 2 3 4]
[5 6 7 8 9]
[10 11 12 13 14]
[15 16 17 18 19]

[10 11 12 13 14]
[15 16 17 18 19]
[20 21 22 23 24]
[25 26 27 28 29]

[20 21 22 23 24]
[25 26 27 28 29]
[30 31 32 33 34]
[35 36 37 38 39]

[30 31 32 33 34]
[35 36 37 38 39]
[40 41 42 43 44]
[45 46 47 48 49]

In [35]:
dataset = tf.data.Dataset.from_tensor_slices(sr)
dataset = dataset.window(6,shift=3, drop_remainder=True)
dataset = dataset.flat_map(lambda window : window.batch(6))
for window in dataset:
  print("window data")
  print(window.numpy())

window data
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]
 [25 26 27 28 29]]
window data
[[15 16 17 18 19]
 [20 21 22 23 24]
 [25 26 27 28 29]
 [30 31 32 33 34]
 [35 36 37 38 39]
 [40 41 42 43 44]]

In [61]:
dataset = tf.data.Dataset.from_tensor_slices(sr)
dataset = dataset.window(6,shift=3, drop_remainder=True)
dataset = dataset.flat_map(lambda window : window.batch(6))
# after creating the window batches use map to map the features and labels
dataset =  dataset.map(lambda window: (window[:,:-1],window[5,4]))
# printing out the data
for x, y in dataset:
  print('x = ',x.numpy(), 'y = ', y.numpy())

x =  [[ 0  1  2  3]
 [ 5  6  7  8]
 [10 11 12 13]
 [15 16 17 18]
 [20 21 22 23]
 [25 26 27 28]] y =  29
x =  [[15 16 17 18]
 [20 21 22 23]
 [25 26 27 28]
 [30 31 32 33]
 [35 36 37 38]
 [40 41 42 43]] y =  44

In [41]:
r = np.arange(0,25)
r = r.reshape(5,5)

In [44]:
r

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [48]:
r[:,2:]

array([[ 2,  3,  4],
       [ 7,  8,  9],
       [12, 13, 14],
       [17, 18, 19],
       [22, 23, 24]])

In [50]:
r[:,1]

array([ 1,  6, 11, 16, 21])